[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
selenium = "*"
jupyter = "*"
pandas = "*"
numpy = "==1.19.3"
matplotlib = "*"
sklearn = "*"
xgboost = "*"

[requires]
python_version = "3.8"
